.detail-container {
    min-height: 100vh;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.detail-container > h1 {
    align-self: center;
}

.detail-container > h2 {
    text-align: left;
    margin-left: 25%;
}

.detail-container > img {
       height: auto;
       width: 100px;
       align-self: center;
}

.detail-container > p {
    width: 50%;
    align-self: center;
}

.dropdown{
    text-align: left;
    margin-left: 25%;
}

@media only screen and (max-width: 600px) {
    .detail-container {

        align-items: center;
    }

    .detail-container > p {
        width: 75%;
        align-self: center;
    }
    .dropdown{
        text-align: left;
        margin-left: 0%;
    }

    .detail-container > h2 {
        text-align: left;
        margin-left: 0%;
    }
    
  }