.about-container {
    min-height: 100vh;
    margin: 100px;
    width: auto;
    display: flex;
    flex-direction: column;
}

.about-container > h1 {
    margin-left: 25%;
}

.about-container > img {
    height: 100%;
    justify-self: center;
}

.about-container > p {
    width: 50%;
    align-self: center;
}

@media only screen and (max-width: 600px) {
    .about-container > p{
        width: 75%;
    } 
}